* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: MyFont;
    src: url(./images/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: MySecondFont;
    src: url(./images/Alata/Alata-Regular.ttf);
}



html {
    font-family: MyFont;
}

.header-container{
    background: url(./images/desktop/image-hero.jpg) no-repeat center;
    background-size: cover;
    height: 80vh;
   object-fit: cover;
   background-position: center;
  

  
}

#logo {
    color: white;
    padding-right:500px;
}

.menu {
    height: 240px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
    align-items: center;
    padding: 50px;
margin-right: 150px;
color: white;
}

.menu a {
    color: white;
    text-decoration: none;
}

#square {
    height: 250px;
    width: 550px;
    border: 2px solid white;
    padding: 30px;
    font-size: 60px;
    justify-content: center;
    align-content: center;
    color: white;
    text-transform: uppercase;
    margin-left: 250px;
    font-weight: 100;
}

.menu a:hover {
    padding-bottom:5px;
    cursor: pointer;
    border-bottom: 1px solid white;
}

.section-2 {
    height: 530px;
    margin: 150px;
    position: relative;
}

#VR {
    height: 530px;
    width: 700px;
    position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.second-section2 {
    width: 600px;
    height: 300px;
    z-index: 2;
    right: 0;
    bottom: 0;
    position: absolute; 
    padding-top: 10px; 
    background-color: white;
    padding: 70px;
    font-size: 18px;
   
}

.second-section2 h1 {
margin-bottom: 20px;
font-weight: 300;
font-size: 45px;
text-transform: uppercase;

}

.second-section2 p {
    line-height: 25px;
    color: rgb(104, 102, 102);
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: auto auto;
    gap: 30px;
    width: 80%;
    margin: 0 auto; 
}

.grid-item {
    background-size: cover;
    background-position: center;
    min-height: 450px; 
    color: white;
    text-transform: uppercase;
    padding: 350px 20px 20px 30px;
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 200;
    filter: brightness(85%) saturate(128%);
-webkit-filter: brightness(71%) saturate(128%);
-moz-filter: brightness(71%) saturate(128%);
}


#grid1 {
    background-image: url(./images/desktop/image-deep-earth.jpg);
}

#grid2 {
    background-image: url(./images/desktop/image-night-arcade.jpg);
}

#grid3 {
    background-image: url(./images/pexels-kelly-2935982.jpg);
}

#grid4 {
    background-image: url(./images/desktop/image-grid.jpg);
}

#grid5 {
    background-image: url(./images/desktop/image-from-above.jpg);
}

#grid6 {
    background-image: url(./images/desktop/image-pocket-borealis.jpg);
}

#grid7 {
    background-image: url(./images/desktop/image-curiosity.jpg);
}

#grid8 {
    background-image: url(./images/desktop/image-fisheye.jpg);
}

.creations-header {
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    margin: 200px 150px 50px 140px;
    gap: 75%; 
}

.section-3 {
    margin-bottom: 100px;
}

.creations-header a {
    text-decoration: none;
border: 1px solid black;
padding: 20px 25px 20px 25px;
width: 200px;
height: 50px;
font-size: 13px;
color: black;
letter-spacing: 3px;
font-weight: bolder;
}

#creations-title {
    width: 550px;
letter-spacing: 2px;
  font-size: 55px;
}

footer {
    height: 150px;
    background-color: black;
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 30px 50px 30px 50px;
    
}

.footer-left {
    width: 40%;
    flex-direction: column;
    text-decoration: none;
}

.footer-right {
    width: 40%;
    display: flex;
  align-items: flex-end;
}

.footer-right p{
color: white;
}

footer a::after {
    text-decoration: none;
    color: white;
}

footer a:visited {
    text-decoration: none;
    color: white;
}

::-webkit-scrollbar {
    display: none;  
}

#see-all-button {
    position: absolute;
    right: 150px;
    width: 150px;
}