* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: MyFont;
    src: url(./images/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: MySecondFont;
    src: url(./images/Alata/Alata-Regular.ttf);
}



html {
    font-family: MyFont;
}

.header-container{
    background: url(./images/desktop/image-hero.jpg) no-repeat center;
    background-size: cover;
    height: 80vh;
   object-fit: cover;
   background-position: center;
  

  
}

#logo {
    color: white;
    padding-right:500px;
}

.menu {
    height: 240px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
    align-items: center;
    padding: 50px;
margin-right: 150px;
color: white;
}

.menu a {
    color: white;
    text-decoration: none;
}

#square {
    height: 250px;
    width: 550px;
    border: 2px solid white;
    padding: 30px;
    font-size: 60px;
    justify-content: center;
    align-content: center;
    color: white;
    text-transform: uppercase;
    margin-left: 250px;
    font-weight: 100;
}

.menu a:hover {
    padding-bottom:5px;
    cursor: pointer;
    border-bottom: 1px solid white;
}